

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;

  background-image: url("./assets/img/banner-bg.png");
  background-size:cover;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/**********Modal********/


form input,  form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
 form textarea {
  width: 102% !important;
  margin-left: -1%!important;
}
 form input:focus, form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
form input::placeholder, form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
 form input:focus::placeholder,  form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
form button span {
  z-index: 1;
  position: relative;
}
 form button:hover {
  color: #fff;
}
 form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
  color:#fff;
}
 form button:hover::before {
  width: 100%;
}

/************* Footer *************/
.footer {
  padding: 0 0 50px 0;
  background-color:rgba(0, 0, 0, 0.9);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.footer h1{
  margin-top: 20px;
}

